@import '../../style/colors';


#login {
  min-height: 100vh;
  background: #e27e4d;
  background: -moz-linear-gradient(top, #e27e4d 0, #de7651 3%, #dc714d 4%, #dc7151 4%, #da6f4f 5%, #de6d4f 5%, #db6652 7%, #d96450 7%, #d86352 8%, #d5604f 9%, #d85e53 9%, #d35851 10%, #d25455 12%, #cd4c51 13%, #cd4b55 14%, #cb4953 14%, #c84557 16%, #c64154 17%, #c64058 18%, #c33d55 18%, #c23c57 20%, #c03a55 20%, #c03959 20%, #be3757 21%, #c13758 21%, #bf3557 22%, #bf345b 22%, #bc345a 23%, #ba3258 24%, #ba325a 25%, #b62e5c 27%, #b42c5e 31%, #b12d5e 31%, #af2b5c 32%, #b02d5f 33%, #ae2b5d 34%, #ac2b61 34%, #ac2d62 37%, #aa2b60 37%, #a72c62 37%, #a52c62 42%, #a22d64 42%, #a22d64 43%, #a02b62 43%, #9f2c65 44%, #9c2c66 49%, #982f68 50%, #962d66 51%, #952d68 53%, #922c6b 53%, #8d2d6d 59%, #8b2b6b 60%, #8b2c6e 60%, #8b2c6e 61%, #832e71 66%, #7f2d6f 67%, #7d2d72 71%, #7b2e76 71%, #792d75 74%, #762e77 75%, #712d76 79%, #6e2e78 80%, #6d2f7a 81%, #6b2d78 82%, #6c2e7b 83%, #68307b 84%, #692f7b 86%, #642e7a 86%, #66307c 87%, #622f7c 91%, #602f80 91%, #602f80 92%, #5c2f80 95%, #5a2d7e 95%, #5a2f81 96%, #592f83 97%, #592f83 98%, #572d81 99%, #582e82 100%);
  background: -webkit-linear-gradient(top, #e27e4d 0, #de7651 3%, #dc714d 4%, #dc7151 4%, #da6f4f 5%, #de6d4f 5%, #db6652 7%, #d96450 7%, #d86352 8%, #d5604f 9%, #d85e53 9%, #d35851 10%, #d25455 12%, #cd4c51 13%, #cd4b55 14%, #cb4953 14%, #c84557 16%, #c64154 17%, #c64058 18%, #c33d55 18%, #c23c57 20%, #c03a55 20%, #c03959 20%, #be3757 21%, #c13758 21%, #bf3557 22%, #bf345b 22%, #bc345a 23%, #ba3258 24%, #ba325a 25%, #b62e5c 27%, #b42c5e 31%, #b12d5e 31%, #af2b5c 32%, #b02d5f 33%, #ae2b5d 34%, #ac2b61 34%, #ac2d62 37%, #aa2b60 37%, #a72c62 37%, #a52c62 42%, #a22d64 42%, #a22d64 43%, #a02b62 43%, #9f2c65 44%, #9c2c66 49%, #982f68 50%, #962d66 51%, #952d68 53%, #922c6b 53%, #8d2d6d 59%, #8b2b6b 60%, #8b2c6e 60%, #8b2c6e 61%, #832e71 66%, #7f2d6f 67%, #7d2d72 71%, #7b2e76 71%, #792d75 74%, #762e77 75%, #712d76 79%, #6e2e78 80%, #6d2f7a 81%, #6b2d78 82%, #6c2e7b 83%, #68307b 84%, #692f7b 86%, #642e7a 86%, #66307c 87%, #622f7c 91%, #602f80 91%, #602f80 92%, #5c2f80 95%, #5a2d7e 95%, #5a2f81 96%, #592f83 97%, #592f83 98%, #572d81 99%, #582e82 100%);
  background: linear-gradient(to bottom, #e27e4d 0, #de7651 3%, #dc714d 4%, #dc7151 4%, #da6f4f 5%, #de6d4f 5%, #db6652 7%, #d96450 7%, #d86352 8%, #d5604f 9%, #d85e53 9%, #d35851 10%, #d25455 12%, #cd4c51 13%, #cd4b55 14%, #cb4953 14%, #c84557 16%, #c64154 17%, #c64058 18%, #c33d55 18%, #c23c57 20%, #c03a55 20%, #c03959 20%, #be3757 21%, #c13758 21%, #bf3557 22%, #bf345b 22%, #bc345a 23%, #ba3258 24%, #ba325a 25%, #b62e5c 27%, #b42c5e 31%, #b12d5e 31%, #af2b5c 32%, #b02d5f 33%, #ae2b5d 34%, #ac2b61 34%, #ac2d62 37%, #aa2b60 37%, #a72c62 37%, #a52c62 42%, #a22d64 42%, #a22d64 43%, #a02b62 43%, #9f2c65 44%, #9c2c66 49%, #982f68 50%, #962d66 51%, #952d68 53%, #922c6b 53%, #8d2d6d 59%, #8b2b6b 60%, #8b2c6e 60%, #8b2c6e 61%, #832e71 66%, #7f2d6f 67%, #7d2d72 71%, #7b2e76 71%, #792d75 74%, #762e77 75%, #712d76 79%, #6e2e78 80%, #6d2f7a 81%, #6b2d78 82%, #6c2e7b 83%, #68307b 84%, #692f7b 86%, #642e7a 86%, #66307c 87%, #622f7c 91%, #602f80 91%, #602f80 92%, #5c2f80 95%, #5a2d7e 95%, #5a2f81 96%, #592f83 97%, #592f83 98%, #572d81 99%, #582e82 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e27e4d', endColorstr='#582e82', GradientType=0 );
  /*font-family: 'Open Sans', sans-serif;*/
  background-attachment: fixed;
}
#login{
    padding: 10px;
    font-weight: normal;
    position: relative;
    .footer{
    font-size: 14px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.21);
    color: #fff;
    position: absolute;
    bottom: 0;
    z-index: 999;
    left: 0;
    right: 0;
    text-align: center;
    padding: 15px;
    }
    .footer a{
        text-decoration: none;
        font-weight: normal;
    }
    .footer img{
            width: 13px;
    margin-right: 9px;
    }
    .text{
        font-size: 16px!important;
        margin: 20px 0;
    }
    .input-main:focus{
        border: 2px solid $white!important;
        color: $white!important;
    }
    .content {
        background: none;
        border: 0;
    }

    .wrapper {
        overflow: hidden;
    }

    .login-form {
        margin-top: 4%;
    }

    footer {
        width: 100%;
        font-size: 14px;
        padding: 0;
        background-color: rgba(255, 255, 255, 0.21);
        color:$white;
        position: absolute;
        bottom: 0px;
        z-index: 999;
        left: 0;
        right: 0;
        text-align: center;
    }

    footer img {
        width: 15px;
    }

    footer span {
        padding-left: 5px;
    }

    #splash {
        position: absolute;
        z-index: 1000;
        top: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: opacity 1s;
        transition: opacity 1s;
        background-color: $splash;
        /*background-image: url('../img/bg.png');*/
        background-repeat: no-repeat;
        background-size: cover;
    }

    #login_submit{
        cursor: pointer;
    }

    #splash .logox {
        display: block;
        width: 55%;
        margin: 0 auto;
        margin-top: 52%;
    }

     .seperator{
        color: $white!important;
        padding: 15px 0;
    }
    .forgot-pass {
        padding: 10px 0;
    }
    .forgot-pass a {
        color: $white!important;
        text-decoration: none;
    }
}
