@import './reset.css';
@import './tabs.scss';
@import './colors';

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    background-color: #eaf1f9;
    overflow-x: hidden;
    height: 100%;
}
.clearfix{
    clear:both;
}   

/*
*
* GLOBAL STYLES
*
*/

// * {
//     -khtml-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
// }

a,
button,
p,
h3,
span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul {
    list-style: none;
}

*:focus {
    outline: 0;
}

a,
button {
    cursor: pointer;
}

.react-layout-components--box {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
//   flex-direction: column;
//   margin: 50px 0;
}

.center {
    text-align: center;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.img-responsive {
    display: block;
    max-width: 90%;
    margin: 0 auto;
}

.middle-fixed {
    margin-top: 5%;
}

.clearfix {
    clear: both;
}


/* FORMS */

.content {
    padding: 10px;
}