.rc-tabs {
  box-sizing: border-box;
  position: relative;
}

.rc-tabs-bar, .rc-tabs-nav-container {
  font-size: 14px;
  line-height: 1.5;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  outline: none;
  zoom: 1;
}

.rc-tabs-ink-bar {
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
  margin-top: -3px;
  background-color: #3fc7fa;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.rc-tabs-ink-bar-animated {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}

.rc-tabs-tab-prev, .rc-tabs-tab-next {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
  line-height: 36px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
}

.rc-tabs-tab-prev-icon, .rc-tabs-tab-next-icon {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: inherit;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  font-smoothing: antialiased;
  text-stroke-width: 0;
  font-family: sans-serif;
}

.rc-tabs-tab-prev-icon:before, .rc-tabs-tab-next-icon:before {
  display: block;
}

.rc-tabs-tab-btn-disabled {
  cursor: default;
  color: #ccc;
}

.rc-tabs-nav-wrap {
  overflow: hidden;
}

.rc-tabs-nav {
  box-sizing: border-box;
  padding-left: 0;
  position: relative;
  margin: 0;
  float: left;
  list-style: none;
  display: inline-block;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.rc-tabs-nav-animated {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  transition: transform 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  transition: transform 0.5s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.5s cubic-bezier(0.35, 0, 0.25, 1);
}

.rc-tabs-nav {
  &:before {
    display: table;
    content: " ";
  }
  &:after {
    display: table;
    content: " ";
    clear: both;
  }
}

.rc-tabs-tab {
  box-sizing: border-box;
  position: relative;
  display: block;
  -webkit-transition: color 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  transition: color 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  padding: 8px 20px;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    color: #23c0fa;
  }
}

.rc-tabs-tab-active {
  color: #3fc7fa;
  cursor: default;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  &:hover {
    color: #3fc7fa;
    cursor: default;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.rc-tabs-tab-disabled {
  cursor: default;
  color: #ccc;
  &:hover {
    color: #ccc;
  }
}

.rc-tabs-content {
  zoom: 1;
  width: 100%;
  .rc-tabs-tabpane {
    overflow: auto;
  }
}

.rc-tabs-content-animated {
  -webkit-transition: margin-left 0.3s cubic-bezier(0.35, 0, 0.25, 1), margin-top 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  transition: margin-left 0.3s cubic-bezier(0.35, 0, 0.25, 1), margin-top 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1), margin-left 0.3s cubic-bezier(0.35, 0, 0.25, 1), margin-top 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1), margin-left 0.3s cubic-bezier(0.35, 0, 0.25, 1), margin-top 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  will-change: transform;
  .rc-tabs-tabpane {
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}

.no-flexbox .rc-tabs-content {
  -webkit-transform: none !important;
  transform: none !important;
  overflow: auto;
}

.no-csstransitions .rc-tabs-tabpane-inactive, .no-flexbox .rc-tabs-tabpane-inactive, .rc-tabs-content-no-animated .rc-tabs-tabpane-inactive {
  display: none;
}

.rc-tabs-left {
  border-right: 2px solid #f3f3f3;
  overflow-y: hidden;
  .rc-tabs-bar {
    float: left;
    height: 100%;
    margin-right: 10px;
    border-right: 1px solid #f3f3f3;
  }
  .rc-tabs-nav-container {
    height: 100%;
  }
  .rc-tabs-nav-container-scrolling {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .rc-tabs-nav-wrap {
    height: 100%;
  }
  .rc-tabs-content-animated {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    .rc-tabs-tabpane {
      height: 100%;
    }
  }
  .rc-tabs-nav-scroll {
    height: 99999px;
  }
  .rc-tabs-tab-prev {
    margin-top: -2px;
    height: 32px;
    line-height: 32px;
    width: 100%;
    display: block;
    text-align: center;
  }
  .rc-tabs-tab-next {
    margin-top: -2px;
    height: 32px;
    line-height: 32px;
    width: 100%;
    display: block;
    text-align: center;
    bottom: 0;
  }
  .rc-tabs-tab-next-icon {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    &:before {
      content: ">";
    }
  }
  .rc-tabs-tab-prev {
    top: 2px;
  }
  .rc-tabs-tab-prev-icon {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    &:before {
      content: ">";
    }
  }
  .rc-tabs-ink-bar {
    width: 2px;
    right: 0;
  }
  .rc-tabs-tab {
    padding: 16px 24px;
  }
}

.rc-tabs-right {
  border-left: 2px solid #f3f3f3;
  overflow-y: hidden;
  .rc-tabs-bar {
    float: right;
    height: 100%;
    margin-left: 10px;
    border-left: 1px solid #f3f3f3;
  }
  .rc-tabs-nav-container {
    height: 100%;
  }
  .rc-tabs-nav-container-scrolling {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .rc-tabs-nav-wrap {
    height: 100%;
  }
  .rc-tabs-nav-scroll {
    height: 99999px;
  }
  .rc-tabs-tab-prev {
    margin-top: -2px;
    height: 32px;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 32px;
  }
  .rc-tabs-tab-next {
    margin-top: -2px;
    height: 32px;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 32px;
    bottom: 0;
  }
  .rc-tabs-tab-next-icon {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    &:before {
      content: ">";
    }
  }
  .rc-tabs-tab-prev {
    top: 2px;
  }
  .rc-tabs-tab-prev-icon {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    &:before {
      content: ">";
    }
  }
  .rc-tabs-content-animated {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    .rc-tabs-tabpane {
      height: 100%;
    }
  }
  .rc-tabs-ink-bar {
    width: 2px;
    left: 0;
  }
  .rc-tabs-tab {
    padding: 16px 24px;
  }
}

.rc-tabs-bottom {
  border-top: 2px solid #f3f3f3;
  overflow-x: hidden;
  .rc-tabs-bar {
    border-top: 1px solid #f3f3f3;
  }
  .rc-tabs-nav-container-scrolling {
    padding-left: 32px;
    padding-right: 32px;
  }
  .rc-tabs-nav-scroll {
    width: 99999px;
  }
  .rc-tabs-nav-wrap {
    width: 100%;
  }
  .rc-tabs-content-animated {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    .rc-tabs-tabpane {
      width: 100%;
    }
  }
  .rc-tabs-tab-next {
    right: 2px;
  }
  .rc-tabs-tab-next-icon:before {
    content: ">";
  }
  .rc-tabs-tab-prev {
    left: 0;
  }
  .rc-tabs-tab-prev-icon:before {
    content: "<";
  }
  .rc-tabs-tab-prev, .rc-tabs-tab-next {
    margin-right: -2px;
    width: 32px;
    height: 100%;
    top: 0;
    text-align: center;
  }
  .rc-tabs-ink-bar {
    height: 2px;
    top: 3px;
    left: 0;
  }
  .rc-tabs-tab {
    float: left;
    height: 100%;
    margin-right: 30px;
  }
  .rc-tabs-tabpane-inactive {
    height: 0;
    overflow: visible;
  }
}

.rc-tabs-top {
  border-bottom: 2px solid #f3f3f3;
  overflow-x: hidden;
  .rc-tabs-bar {
    border-bottom: 1px solid #f3f3f3;
  }
  .rc-tabs-nav-container-scrolling {
    padding-left: 32px;
    padding-right: 32px;
  }
  .rc-tabs-nav-scroll {
    width: 99999px;
  }
  .rc-tabs-nav-wrap {
    width: 100%;
  }
  .rc-tabs-content-animated {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    .rc-tabs-tabpane {
      width: 100%;
    }
  }
  .rc-tabs-tab-next {
    right: 2px;
  }
  .rc-tabs-tab-next-icon:before {
    content: ">";
  }
  .rc-tabs-tab-prev {
    left: 0;
  }
  .rc-tabs-tab-prev-icon:before {
    content: "<";
  }
  .rc-tabs-tab-prev, .rc-tabs-tab-next {
    margin-right: -2px;
    width: 32px;
    height: 100%;
    top: 0;
    text-align: center;
  }
  .rc-tabs-ink-bar {
    height: 2px;
    bottom: 0;
    left: 0;
  }
  .rc-tabs-tab {
    float: left;
    height: 100%;
    margin-right: 30px;
  }
  .rc-tabs-tabpane-inactive {
    height: 0;
    overflow: visible;
  }
}